@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(229, 251, 239);
}

img {
    max-width: 100%;
}

.icon {
    width: 40px;
    height: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

h1,
h3 {
    color: rgb(70, 160, 50);
    text-align: center;
}

h2,
p {
    text-align: center;
}

.container-icon {
    position: relative;
    left: -45px;
}

.icon-remove {
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.count-products {
    position: absolute;
    top: 17%;
    left: 10px;
    background-color: #333;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-cart-products {
    position: absolute;
    top: 40px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.9;
    width: 350px;
    z-index: 1;
}

.cart-product {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: center;
    flex: 0.8;
}

.price-product-cart {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.shopping-cart-quantity {
    font-weight: 400;
    font-size: 20px;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    gap: 20px;
}

.title-cart {
    font-size: 20px;
    padding: 0 0px 0 10px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pay {
    font-size: 20px;
    font-weight: 700;
}


/*
.hidden-cart {
    display: none;
}
*/


/* MAIN */

.container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.product:hover {
    box-shadow: 0 10px 20px #000 rgb(0, 0, 0, 0.20);
}

.product-info {
    padding: 15px 15px;
    line-height: 2;
    display: flex;
    flex-direction: column;
}

.product:hover img {
    transform: scale(1.2);
}

.price {
    font-size: 1.5rem;
}

.product-info button {
    border: none;
    background-color: rgb(70, 160, 50);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}